<style>
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway&display=swap');
</style>

body{ margin:0px;width:100%; background-color:#cccccc; }
#top{float:left; height:50px; width:100%; background-color:#f22162; }
#topleft{ float:left; margin-left:5%; margin-top:1%; color:#FFFFFF; font-family: 'Raleway', sans-serif; font-size:16px;}
#toptext{ float:right; margin-right:2%; margin-top:1%; color:#FFFFFF; font-family: 'Raleway', sans-serif; font-size:16px;}

#top1{float:left;height:100px; width:100%; background-color:#ffffff;  }
#logotext1{ float:left;  margin-top:1%; font-family: 'Dosis', sans-serif; color:#002ab0; font-size:26px;}

#slide{float:left; background-color:#fff; width:100% ; min-height:300px; height:auto;background-image:url(../img/body.jpg); background-color:#002ab0; }


#end{float:left; height:50px; width:100%; background-color:#f22162; border-top:2px solid #fff }
#endl{ float:left; margin-top:1%; margin-left:3%; margin-right:5%; letter-spacing: normal; line-height:inherit;font-family: 'Raleway', sans-serif; color:#fff; font-size: 18px;  }
#end2{ float:right; margin-top:1%; margin-left:16%; margin-right:5%; letter-spacing: normal; line-height:inherit;font-family: 'Raleway', sans-serif; color:#fff; font-size: 18px;  }



#jmain{ float:left;  width:100% ; min-height:350px; height:auto;background-color:#002ab0; }
#jm1{float:left; height:350px; margin-left:0%; width:30%; background-color:#002ab0;  }
#pjm1{float:left; margin-left:28%; margin-top:5%; height:185px; width:185px; background-color:#fff;  background-position:center; border-radius:50%; border:2px solid #002ab0;}
#img1{float:left; margin-top:1%;margin-left:5%; height:35px; width:35px; background-color:#fff;  background-position:center; border-radius:50%; border:2px solid #002ab0;}


#docn{ float:left; margin-top:4%; margin-left:33%; font-family: 'Raleway', sans-serif; color:#fff; font-size: 24px;  }
#jm2{float:left; min-height:350px; height:auto; margin-left:0%;  width:70%; background-color:#002ab0; }
#hsptl{ float:left; margin-top:3%; margin-right:5%;font-family: 'Raleway', sans-serif; color:#fff; font-size: 18px;  }


a:link {
    color: #f3f3f3;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: #ffed99;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color:#red;
    text-decoration:none;
}

.responsive { width: 100%;  max-width: auto;}
#mmain{ float:left;  width:100% ; min-height:300px; height:auto; background-color:#FFFFFF;background-image:url(../img/body.jpg); }

#hsptl1{ float:left; font-family: 'Raleway', sans-serif; color:#fff; font-size:20px;  }

#t1card { float:left; margin-left:8%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t1card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t1card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t1card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t2card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t2card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t2card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t2card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t3card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t3card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t3card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t3card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t4card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t4card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t4card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t4card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t5card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t5card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t5card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t5card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t6card { float:left; margin-left:8%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t6card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t6card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t6card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t7card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t7card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t7card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t7card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t8card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t8card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t8card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t8card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t9card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t9card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t9card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t9card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t10card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t10card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t10card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t10card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t11card { float:left; margin-left:8%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t11card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t11card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t11card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t12card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t12card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t12card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t12card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#t13card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#t13card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#t13card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#t13card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}






#event{ float:left;  width:100% ; min-height:250px; height:auto;background-color:#002ab0;background-image:url(../img/body.jpg); }
#eventtext{ float:left; margin-left:35%; margin-top:3%; color:#002ab0; font-family: 'Merienda', cursive;font-size:40px; line-height:1.8}
#eventtext1{ float:left; margin-left:5%;margin-right:5%; margin-top:1%; color:#002ab0;font-family: 'Raleway', sans-serif; font-size:26px;}


#eventtext2{ float:left; margin-left:15%;margin-right:10%; margin-top:1%; color:#002ab0;font-family: 'Raleway', sans-serif; font-size:26px;}





#aevent{ float:left;  width:100% ; min-height:700px; height:auto;background-color:#002ab0;background-image:url(../img/body.jpg); }
#aeventtext{ float:left; margin-left:35%; margin-top:3%; color:#002ab0; font-family: 'Merienda', cursive;font-size:40px; line-height:1.8}
#aeventtext1{ float:left; margin-left:5%;margin-right:5%; margin-top:1%; color:#002ab0;font-family: 'Raleway', sans-serif; font-size:26px;}
#aeventtext2{ float:left; margin-left:15%;margin-right:10%; margin-top:1%; color:#002ab0;font-family: 'Raleway', sans-serif; font-size:26px;}

#ahsptl1{ float:left; margin-left:20px;margin-top:2%; margin-right:10px; text-align:justify;font-family: 'Raleway', sans-serif; color:#fff; font-size:20px;  }
#at1card { float:left; margin-left:8%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#at1card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#at1card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#at1card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}

#at2card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#at2card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#at2card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#at2card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#at3card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#at3card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#at3card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#at3card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#at4card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#at4card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#at4card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#at4card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}


#at5card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#at5card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#at5card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#at5card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}




#aat1card { float:left; margin-left:8%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#aat1card1 { float:left;background: #fff; height:80%;  position: relative;  width:100%;}
#aat1card3 { float:left; background: #002ab0;  height:20%;  position: relative;  width:100%;}
#aat1card4 { float:left; margin-left:55%; margin-top:35%;  background: #fff;  height:20% ;  position: relative;  width: 40%;}

#aat2card { float:left; margin-left:2%; margin-top:2%;background:#fff;height:220px;position: relative;width:15%;}
#aat2card1 { float:left;background: #fff; height:80%;  positi
